html, body {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.app {
  display: flex;
  flex-direction: column;
  padding: 0 2vw;
}

.component {
  padding: 2rem 0 10rem 0;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.entityManagement form, .orderManagement form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textButton {
  cursor: pointer;
  font-size: 10px;
  color: blue;
  text-decoration: underline;
  margin-left: auto;
}

.orderForm  > div > .textButton {
  margin-left: 1rem;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #f5f5f5;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.navigation div {
  margin-right: 50px;
}

.navigation a {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.navigation a:hover {
  color: #007bff;
}

.orderForm {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 4px;
}

.toggleOrderFormBtn {
  font-size: 12px;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  border: 2px solid #4caf50;
}

.orderList, .entityList {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.orderList th,
.orderList td {
  padding: 8px 16px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.orderList tr:nth-child(even) {
  background-color: #f2f2f2;
  color: black;
}

.orderList th {
  background-color: #4caf50;
  color: white;
}

.entityList {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  border-radius: 5px;
}

.entityList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.entityList li {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 10px;
  gap: 1rem;
  text-align: center;
}

.entityList h2 {
  margin-bottom: 10px;
}

.propertyList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.propertyList li {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4px 10px;
  min-width: 100px;
  gap: 1rem;
  text-align: center;
}

.orderForm {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.modal {
  position: relative;
}

.entityForm {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ccc;
  font-size: 13px;
}

.propertyForm {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: aliceblue;
  margin-bottom: 8px;
}

.closeEntityFormBtn {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 5;
  padding: 4px 10px;
}

.entityForm div {
  margin-bottom: 10px;
}

.entityForm label, .orderForm label {
  display: inline-block;
  width: 100px;
  margin-right: 2rem;
}

.entityForm input,
.entityForm select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formSubmitButton {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
}

.entityForm button:hover, .toggleOrderFormBtn:hover, .entityFormSubmitButton:hover {
  background-color: #3e8e41;
  color: white;
}

.entityForm h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.deleteIcon:hover {
  background: red;
  color: white;
  cursor: pointer;
}

.deleted {
  color: grey!important;
  font-style:italic;
}

.filterBox {
  text-align: right;
  font-size: 12px;
  margin-top: 8px;
}

@media only screen and (max-width: 700px) {
  .entityForm div {
    display: contents;
  }

  .textButton {
    display: block;
    font-size: 12px;
    margin-left: 0!important;
  }
}
